.main__section {
  position: relative;
  user-select: none;
  
  img {
    pointer-events: none;
  }

  .bg-container {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -5;
  }

  .section-heading {
    padding-top: 40px;
    margin-bottom: 100px;
    font-size: 4rem;
    text-align: center;
  }
}

.card {
  line-height: 2.4rem;
  text-align: justify;
  @include card;
  transition: $transition-hover;
  z-index: 5;

  p {
    font-size: 1.4rem;
  }

  &:hover {
    @include box-shadow-hover; 
  }
}

@media (max-width: $breakpoint-tablet) {
  .main__section {
    .section-heading {
      margin-bottom: 70px;
      font-size: 2.8rem;
    }
  }

  .card {
    line-height: 2.2rem;
    text-align: left;

    p {
      font-weight: 500;
    }
  }
}

// ---------------------------- Separator

.svg-separator {
  position: absolute;
  bottom: 0;

  &.separator_aback {
    z-index: -2;
  }

  &.separator_light path {
    fill: $color-add-bg;
  }
}

// ---------------------------- Greeting Section

.greeting-section {
  height: 100vh;
  overflow: hidden;

  .wrapper {
    flex-direction: row;
  }

  .greeting__text {
    margin-right: 10%;
    margin-left: 10%;
    font-size: 2.4rem;
    text-align: right;

    h1 {
      font-size: 2.5em;
      font-weight: 500;
    }

    .bold  {
      font-weight: 700;
    }
  }

  .greeting__image {
    max-width: 60%;
  }

  .greeting-bg svg {
    position: absolute;
    min-width: 2000px;
  }
}

@media (max-width: $breakpoint-laptop-l) {
  .greeting-section {
    .greeting__image {
      max-width: 40%;
    }
  }
}

@media (max-width: $breakpoint-tablet) {
  .greeting-section {
    .wrapper {
      flex-direction: column-reverse;
    }

    .greeting__text {
      margin-top: 50px;
      text-align: center;
    }

    .greeting__image {
      width: 50%;
    }
  }
}

@media (max-width: $breakpoint-mobile) {
  .greeting-section {

    .greeting__text {
      font-size: 1.8rem;

      h1 {
        font-size: 2em;
      }
    }
  }
}

// ---------------------------- Greeting BG

.lines-container {
  fill: none;
  opacity: 0.15;
  stroke-miterlimit: 10;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  animation-duration: 4s;
  animation-name: show;

  &:nth-child(1) {
    stroke: $color-brand-1;
    stroke-width: 6;
    stroke-dasharray: 200;
    stroke-dashoffset: 800;
    animation-name: draw;
  }

  &:nth-child(2) {
    stroke: $color-brand-3;
    stroke-width: 12;
  }

  &:nth-child(3) {
    stroke: $color-brand-2;
    stroke-width: 12;
  }

  @keyframes draw {
    to {
      stroke-dashoffset: 0;
    }
  }
  
  @keyframes show {
    0% {
      opacity: 0.15;
    }
    50% {
      opacity: 0.25;
    }
    100% {
      opacity: 0.15;
    }
  }
}

// ---------------------------- Advantages Section

.advantages-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.advantages__item {
  min-width: 300px;
  width: calc(100% / 3 - 30px);
  height: 500px;
  margin: 15px;
  padding: 15px 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;

  .advantages__image {
    width: 70%;
    margin: auto;
    align-self: flex-start;
  }
  
  .advantages__text {
    height: 35%;
    padding: 0 10px;
  }
  
  .advantages__name {
    margin-bottom: 10px;
    padding-top: 20px;
    font-size: 2.4rem;
  }
}

@media (max-width: $breakpoint-laptop-m) {
  .advantages__item {
    width: calc(100% / 2 - 30px);

    .advantages__image {
      width: 50%;
    }
  }
}

@media (max-width: $breakpoint-tablet) {
  .advantages__item {
    width: calc(100% / 1 - 30px);
    height: 200px;
    margin: 15px auto;
    flex-direction: row-reverse;
    align-items: baseline;

    .advantages__image {
      height: 90%;
    }

    .advantages__text {
      padding-right: 30px;
    }
  }
}

@media (max-width: $breakpoint-mobile) {
  .advantages__item {
    position: relative;

    .advantages__image {
      position: absolute;
      right: 0;
      opacity: .2;
      z-index: -2;
    }
  }
}

// ---------------------------- Team Section

.team-section {
  background-color: $color-add-bg;
}

.developer-container {
  width: 80%;
}

.developer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  margin-bottom: 40px;
  position: relative;

  .developer__column {
    padding: 10px;
  }
  
  .developer__image {
    border-radius: 50%;
    max-width: 200px;
    background-color: #fff;
  }
  
  .developer___name {
    font-size: 2rem;
    padding-bottom: 10px;
  }

  &:nth-child(1) {
    flex-direction: row-reverse;

    & .developer___name {
      text-align: right;
    }
  }
}

@media (max-width: $breakpoint-tablet) {
  .developer-container {
    .developer {
      flex-direction: column;

      .developer___name {
        text-align: left;
      }
    }
  }
}
