.book {
  &__controls {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }

  &__controls-page {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
  }
}