.games {
  height: MAX(calc(100vh - $height-footer), 500px);
  font-size: 2.2rem;
  user-select: none;

  .wrapper {
    justify-content: start;
    padding-top: max(10%, 85px);
  }

  &__input-container {
    display: flex;
    justify-content: space-around;
    gap: 10px;
    width: 100%;
  }

  &__image {
    position: absolute;
    top: 9%;
    max-width: 100%;
    height: 75%;
    overflow: hidden;
    transition: $transition-hover;
    pointer-events: none;
  }

  &__image_color {
    opacity: 0;
  }

  &__name {
    padding: 5px; 
  }

  input {
    display: none;

    &#sprintRadio:checked ~ label[for="sprintRadio"],
    &#audioCallRadio:checked ~ label[for="audioCallRadio"] {
      @include box-shadow-hover(.3);
      background-color: #ffffff9e;

      & .games__image_color {
        opacity: 1;
      }

      & .games__image_simple {
        opacity: 0;
      }
    }
  }

  label {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;

    position: relative;

    width: min(calc(100% / 2 - 30px), 400px);
    height: 400px;

    margin: 5px;
    padding: 5px;

    background-color: $color-card;

    @include box-shadow;
    border-radius: 10px;

    cursor: pointer;
    transition: $transition-hover;

    &:hover {
      @include box-shadow-hover(.4);
    }

    &:hover > .games__image_color {
      opacity: 1;
    }

    &:hover > .games__image_simple {
      opacity: 0;
    }

    &[for="sprintRadio"] > .games__image {
      top: 24%;
      height: 50%;
    }
  }

  &__controls-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__select,
  &__start {
    width: 120px;
    height: 35px;
    @include button-styles;
  }

  &__select:focus {
    border: none;
  }

  option:hover {
    box-shadow: 0 0 10px 100px $color-brand-4 inset;
  }

  &__start {
    margin: 20px 0;
  }
}

@media (max-width: $breakpoint-tablet) {
  .games {

    label {
      height: 350px;
    }

    &__select,
    &__start {
      width: 100px;
      font-size: 1.4rem;
    }
  }
}

@media (max-width: $breakpoint-mobile) {
  .games {
    height: MAX(calc(100vh - $height-footer), 100%);

    label {
      width: min(calc(100% / 1 - 30px), 350px);
    }

    &__input-container {
      flex-direction: column;
      align-items: center;
    }

    &__controls-container {
      order: 3;
      flex-direction: row;
      gap: 30px;
      margin-top: 20px;
    }

    &__select,
    &__start {
      width: 125px;
      height: 40px;
      font-size: 1.6rem;
    }

    &__start {
      order: 2;
    }
  }
}