.games {
  height: MAX(calc(100vh - $height-footer), 600px);
  font-size: 2.2rem;
  user-select: none;

  .wrapper {
    justify-content: start;
    padding-top: max(10%, 100px);
  }

  &__input-container {
    display: flex;
    justify-content: space-around;
    gap: 5px;
    width: 100%;
  }

  &__image {
    position: absolute;
    top: 9%;
    max-width: 100%;
    height: 75%;
    overflow: hidden;
    transition: $transition-hover;
    pointer-events: none;
  }

  &__image_color {
    opacity: 0;
  }

  &__name {
    padding: 5px; 
  }

  input {
    display: none;

    &#sprintRadio:checked ~ label[for="sprintRadio"],
    &#audioCallRadio:checked ~ label[for="audioCallRadio"] {
      @include box-shadow-hover(.3);

      & .games__image_color {
        opacity: 1;
      }

      & .games__image_simple {
        opacity: 0;
      }
    }
  }

  label {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;

    position: relative;

    width: min(calc(100% / 2 - 30px), 400px);
    height: 400px;

    margin: 5px;
    padding: 5px;

    background-color: $color-card;

    @include box-shadow;
    border-radius: 10px;

    cursor: pointer;
    transition: $transition-hover;

    &:hover {
      @include box-shadow-hover(.4);
    }

    &:hover > .games__image_color {
      opacity: 1;
    }

    &:hover > .games__image_simple {
      opacity: 0;
    }

    &[for="sprintRadio"] > .games__image {
      top: 24%;
      height: 50%;
    }
  }

  &__controls-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__select,
  &__start {
    width: 120px;
    height: 35px;
    font-family: $font-family;
    font-size: 1.6rem;
    color: $color-font-light;
    text-align: center;
    border: none;
    border-radius: 5px;
    background-color: $color-brand-1;
    cursor: pointer;
    transition: $transition-hover;
  }

  &__select:focus {
    border: none;
  }

  option:hover {
    box-shadow: 0 0 10px 100px $color-brand-4 inset;
  }

  &__start {
    margin: 20px 0;

    &:disabled {
      opacity: .8;
      cursor: default;
    }

    &:not([disabled]):hover {
      background-color: $color-brand-4;
    }
  }
}
