$breakpoint-mobile: 568px;
$breakpoint-tablet: 768px;
$breakpoint-laptop-s: 1024px;
$breakpoint-laptop-m: 1280px;
$breakpoint-laptop-l: 1440px;

$color-main-bg: #f7faf6;
$color-add-bg: #fff;
$color-add-bg-transparent: rgba(255, 255, 255, 0.7);
$color-overlay-bg: #0000002e;
$color-brand-1: #1d3557;
$color-brand-2: #457b9d;
$color-brand-3: #a8dadc;
$color-brand-4: #e63946;
$color-font-dark: #192332;
$color-font-light: #fff;
$color-card: #457b9d27;
$color-dark: #000;
$color-right-answer: #1c7448;
$color-wrong-answer: #9e2121;

$height-header: 65px;
$height-footer: 75px;

$font-family: "Montserrat", "Helvetica", "Arial", sans-serif;

$font-size-html-1280: 10px;

$transition-hover: all 0.3s ease-in-out;

$transition-click: all 0.1s ease-in-out;

$border-radius-card: 5px;

@mixin box-shadow($opacity: .1) {
  box-shadow: 1px 3px 4px rgba(0, 0, 0, $opacity);
}

@mixin box-shadow-hover($opacity: .2) {
  @include box-shadow($opacity);
  transform: scale(1.008);
}

@mixin card($background-color: $color-card, $border-radius: $border-radius-card) {
  background-color: $background-color;
  @include box-shadow;
  border-radius: $border-radius;
}

@mixin button-styles($font-size: 1.6rem) {
  background-color: $color-brand-1;

  font-family: $font-family;
  font-size: $font-size;
  color: $color-font-light;
  text-transform: uppercase;

  border: 1px solid $color-brand-1;
  border-radius: 4px;

  cursor: pointer;
  transition: $transition-hover;
  
  &:hover {
    background-color: $color-brand-4;
    border-color: $color-brand-4;
  }

  &:active {
    background-color: #e63946d9;
  }

  &:disabled {
    opacity: .8;
    cursor: not-allowed;

    &:hover {
      background-color: $color-brand-1;
      border-color: $color-brand-1;
      color: $color-font-light;
    }
  }
}
