.audioCall {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: MAX(calc(100vh - $height-footer), 500px);
  margin-top: $height-header;
  font-size: 3.2rem;
  color: $color-font-light;

  .wrapper {
    padding: 5px;
  }

  &__round {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
    max-height: 500px;
  }

  &__audioImg {
    border: 5px solid $color-add-bg-transparent;
    border-radius: 50%;
    padding: 10px;
    margin: 20px;
    filter: brightness(0) invert(1);
    transition: $transition-click;
    cursor: pointer;

    &:hover {
      transform: scale(1.1);
      border-color: $color-font-light;
    }

    &:active {
      transform: scale(1);
    }
  }

  &__round-result {
    display: none;
    justify-content: center;
    align-items: center;
    gap: 10px;

    &_show {
      display: flex;
      flex-direction: column;
      height: 80%;
    }

    &__container {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 5px;
      margin-right: 15%;
    }
  }

  &__options {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    margin-bottom: 40px;
  }

  &__option,
  &__btn {
    padding: 10px 25px;
    border-radius: 20px;
    font-size: 1.6rem;
    text-transform: uppercase;
    cursor: pointer;
    transition: $transition-click;
    border: 1px solid $color-add-bg-transparent;

    &:hover {
      transform: scale(1.05);
      border-color: $color-font-light;
    }

    &:active {
      transform: scale(1);
    }
  }

  &__option {
    background-color: transparent;
    color: $color-font-light;

    &_disabled {
      pointer-events: none;
    }

    &_truthy-answer {
      border-color: $color-right-answer;
      background-color: $color-right-answer;
    }

    &_falsy-answer {
      border-color: $color-wrong-answer;
      background-color: $color-wrong-answer;
    }
  }

  &__btn {
    @include box-shadow;
  }

  &__wordImg {
    height: 65%;
    box-shadow: 0px 0px 20px 15px rgb(0 0 0 / 15%);
  }

  &__audioImg {
    &_small {
      width: 60px;
      border: none;
    }
    &_big {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 120px;
      margin-bottom: 180px;
    }
  }

  &__btn {
    &_hide {
      display: none !important;
    }

    &_continue,
    &_skip {
      display: block;
    }
  }
}

@media (max-width: $breakpoint-tablet) {
  .audioCall {
    .wrapper {
      padding: 25px 5px;
    }

    &__round {
      justify-content: space-between;
    }

    &__round-result_show {
      height: 50%;
    }

    &__audioImg_big {
      margin-bottom: 90px;
    }

    &__options {
      margin-top: 10px;
    }
  }
}

@media (max-width: $breakpoint-mobile) {
  .audioCall {

    &__options {
      gap: 10px;
    }

    &__option {
      padding: 10px 20p;
      font-size: 1.4rem;
    }
    

    &____wordImg{
      height: 50%;
    }
  }
}
