.account {
  height: MAX(calc(100vh - $height-footer), 600px);
  font-size: 1.8rem;

  .wrapper {
    justify-content: flex-start;
    align-items: flex-start;
    padding-top: max(10%, 100px);
  }

  h2 {
    margin-bottom: 15px;
    font-size: 2rem;
  }

  .account__image {
    width: 40%;
    position: absolute;
    right: 0;
    bottom: 10%;
    z-index: -5;
  }

  .account__data,
  .account__content {
    padding: 20px;
    background-color: $color-add-bg-transparent;
    @include box-shadow;
    border-radius: 0 10px 10px 10px;
  }

  .account__content {
    min-height: 415px;

    div {
      display: flex;
      flex-direction: column;

      form {
        display: flex;
        flex-direction: column;

        & > * {
          padding: 14px;
            margin-bottom: 20px;
        }
      }
    }

    .account__input {
      font-size: 1.6rem;
      border: 1px solid $color-brand-1;
      border-radius: 4px;

      &.invalid {
        border-color: $color-brand-4;
      }
    }
  }

  .account__data {
    p {
      margin-bottom: 10px;

      span {
        font-style: italic;
      }
    }
  }

  .account__loggedIn-container {
    button {
      width: 100%;
      padding: 14px;
    }
  }

  .account__content,
  .account__loggedIn-container {
    button {
      margin-top: 20px;
      background-color: $color-brand-1;
      font-size: 1.6rem;
      color: $color-font-light;
      text-transform: uppercase;
      border: 1px solid $color-brand-1;
      border-radius: 4px;
      cursor: pointer;
      transition: $transition-hover;

      &:hover {
        background-color: $color-brand-4;
        border-color: $color-brand-4;
      }  
    } 
  }
  
  .account__NotLoggedIn-container .account__btn {
    padding: 10px;
    font-size: 1.6rem;
    background-color: transparent;
    border: 2px solid $color-add-bg;
    border-radius: 10px 10px 0 0;
    cursor: pointer;

    &.account__btn_active {
      background-color: $color-add-bg;
    }
  }

  .account__loggedIn-container,
  .account__NotLoggedIn-container {
    width: min(80%, 600px);
  }

  .account__error-box {
    display: none;
    margin-bottom: 15px;
    font-size: 1.2rem;
    color: $color-brand-4;

    &.active {
      display: block;
    }
  }
}

@media (max-width: $breakpoint-mobile) {
  .account {
    .wrapper {
      align-items: center;
    }

    .account__image {
      display: none;
    }

    .account__content {

      button {
        font-size: 1.4rem;
      }
    }
  }
}