.bg-anim {
  &.bg_hide {
    visibility: hidden;
  }

  & > div {
    animation: slide 20s ease-in-out infinite alternate;
    bottom: 0;
    left: -50%;
    opacity: 0.5;
    position: fixed;
    right: -50%;
    top: 0;
    z-index: -2;

    &:nth-child(2) {
      animation-direction: alternate-reverse;
      animation-duration: 20s;
    }
  
    &:nth-child(3) {
      animation-duration: 15s;
    }
  
    &:nth-child(4) {
      animation-direction: alternate-reverse;
      animation-duration: 25s;
    }
  
    &:nth-child(5) {
      animation-duration: 10s;
    }
  }
  
  &.bg_sprint div {
    background-image: linear-gradient(315deg, #04343b 50%, #0d705b 50%);

    &:nth-child(3) {
      background-image: linear-gradient(45deg, #04343b  50%, #0d705b 50%);
    }
  }

  &.bg_audioCall div {
    background-image: linear-gradient(315deg, #8a1717eb 50%, #c57135 50%);

    &:nth-child(3) {
      background-image: linear-gradient(45deg, #8a1717eb 50%, #c57135 50%);
    }
  }
    
  @keyframes slide {
    0% {
      transform: translateX(-25%);
    }
    100% {
      transform: translateX(25%);
    }
  }
}

.bg-anim:not(.bg_hide) ~ .header {
  background-color: $color-main-bg;
}

.bg-anim.bg_sprint:not(.bg_hide) ~ .header,
.bg-anim.bg_audioCall:not(.bg_hide) ~ .header {
  box-shadow: 0px 4px 8px 5px rgba(0, 0, 0, .3);
}